.components-user-btn {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  color: #aea9a9;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;

  &__login,
  &__signup,
  &__user-info,
  &__menu-element {
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      color: white;
      & img {
        opacity: 1;
      }
    }
  }

  &__user-name {
    margin-right: 5px;
  }

  &__user-info,
  &__user-container {
    display: flex;
    align-items: center;
    position: relative;

    & img {
      opacity: 0.9;
    }
  }

  &__menu-container {
    position: absolute;
    bottom: -77px;
    left: -7px;
    background: black;
    z-index: 100;
    padding: 5px 10px;
    min-width: 100px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 7px 1px #848484;
    font-size: 14px;

    @media (max-width: 780px) {
      & {
        right: -2px;
        left: unset;
      }
    }
  }

  &__menu-element {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  &__settings-icon {
    width: 38px;
  }

  &__favorite-container {
    width: 12px;
    margin-left: 4px;
  }
}


