.components-user-btn {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  color: #aea9a9;

  &__login,
  &__signup {
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}