
.scenes-user-settings-personal-data {
  &__form-block {
    display: flex;
    margin: 20px 0;
    position: relative;
  }

  &__input {
    flex-grow: 1;
  }

  &__submit_button {
    margin-left: 19px !important;
    transform: translateY(11px);
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__submit_button,
  &__button {
    text-transform: none !important;
    font-weight: 600 !important;

    &_remove {
      background-color: #e0265a !important;
      &:hover {
        background-color: #d40000 !important;
      }
    }

    &_confirmation {
      margin-left: 35px !important;
    }

    &_cancel {
      width: 135px;
    }
  }

  &__authorization-error {
    color: red;
    font-size: 14px;
  }
}
