
.scenes-user-settings {
  width: 500px;
  padding: 30px;

  &__title {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 12px;
  }

  &__tabs-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
  }

  &__separator {
    border-bottom: dashed 1px;
    margin-bottom: 6px;
  }

  &__tab {
    margin: 0 10px;
    padding: 3px;
    cursor: pointer;

    &_selected {
      background: #a7b5b5;
      border-radius: 11px;
    }
  }

  @media (min-width: 0px) and (max-width: 780px) {
    width: 350px;
    padding: 12px;
    font-size: 13px;
  }
}