.components-language-selector {
  position: relative;
  margin: 10px;
  min-width: 80px;
  font-weight: 500;

  &__languages-container {
    padding: 10px;
    position: absolute;
    left: -11px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: black;
    box-shadow: 0 5px 12px #565656;
    cursor: pointer;
    display: none;
  }

  &:hover &__languages-container{
    display: initial;
  }

  &__language-element:hover {
    color: white;
  }
}