.component-modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(173, 172, 172, 0.82);
  }

  &__close-btn {
    position: absolute;
    top: 11px;
    right: 14px;
  }

  &__content-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #eae5e5;
    box-shadow: 0 1px 5px 6px #b5b5b5;
  }
}