.scenes-gif-searcher {

  &__gifs-container {
    margin-top: 40px;
  }

  &__big-loader-wrapper {
    width: 100%;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__small-loader-wrapper {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__gif-searcher-bottom-spacing {
    padding-top: 100px;
  }
}