.components-password-input {
  position: relative;
  flex-grow: 1;

  &__input {
    width: 100%;
  }

  &__show-icon {
    position: absolute !important;
    right: 15px;
    top: 6px;
    outline: none !important;
  }
}