
.scene-gif-viewer {

  @media (min-width: 1650px)  {
    width: 1600px;
    position: relative;
  }


  &__main-container {
    margin: 30px;
    width: 900px;
    height: 480px;
    display: flex;
    transform: translate(51%);
  }

  &__main-gif-container {
    width: 500px;
  }

  &__metadata-container {
    padding-left: 25px;
    margin-top: 20px;
  }

  &__carousel-holder {
    display: flex;
    align-items: center;
    margin: 0 20px 15px;
  }

  &__carousel-container {
    display: flex;
    overflow: hidden;
  }

  &__carousel {
    display: flex;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }

  &__gif-container {
    padding: 15px 10px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &__loader-container {
    position: absolute;
    right: -48px;
  }

  &__close-btn {
    position: absolute;
    right: 10px;
  }
}