
.scene-gif-viewer {

  &__main-container {
    margin: 30px auto;
    width: 900px;
    height: 550px;
    display: flex;
  }

  &__main-gif-container {
    width: 500px;
  }

  &__metadata-container {
    padding-left: 25px;
    margin-top: 20px;
  }

  &__carousel-holder {
    display: flex;
    align-items: center;
  }

  &__carousel-container {
    display: flex;
    overflow: hidden;
  }

  &__carousel {
    display: flex;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }

  &__gif-container {
    padding: 15px 10px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &__loader-container {
    position: absolute;
    right: -48px;
  }
}